@import '../../variables';
@import '../../mixins';

.introduction-wrapper {
  @include centered;
  width: 100%;
  max-width: 900px;
  padding: 50px 0;

  @media screen and ( min-height: 625px ) {
    height: 525px;
    padding: 0;
  }
}

.introduction {
  .main-contents {
    transition: transform 1600ms;

    &.fade-up {
      transform: translateY(-20px);
    }
  }
  header {
    .title {
      font-size: 48px;
      margin-bottom: 2rem;
      font-weight: 900;
    }

    p {
      font-size: 20px;
      font-weight: 100;
      margin: 1rem 0;
      line-height: 30px;
    }
  }

  .row {
    margin-top: 3rem;
  }
  .column {
    padding: 0 1rem;
    text-align: center;

    p {
      font-weight: 100;
      font-size: 15px;
    }
  }

  .button-wrapper {
    text-align: center;
    margin: 4rem 0;
  }
  .button {
    position: relative;
    width: 45%;
  }
}
