@import '../../variables';
@import '../../mixins';

.introduction-wrapper {
  @include centered;
  width: 100%;
  max-width: 900px;
  height: 500px;
}

.introduction {
  header {
    .title {
      font-size: 48px;
      margin-bottom: 2rem;
      font-weight: 900;

      .subheading-inline:after {
        height: 0px;
        background: $navy;
      }
    }

    p {
      font-size: 20px;
      font-weight: 100;
      margin: 1rem 0;
      line-height: 30px;
    }
  }

  .row {
    margin-top: 3rem;
  }
  .column {
    padding: 0 1rem;
    text-align: center;

    p {
      font-weight: 100;
      font-size: 15px;
    }
  }

  .requirement-subheading {
    font-size: 24px;

    .subheading-inline:after {
      background: $navy;
    }
  }

  .button-wrapper {
    text-align: center;
    margin: 4rem 0;
  }
  .button {
    position: relative;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: $orange;
    box-shadow: 0px 3px 0px darken($orange, 18%);
    font-size: 18px;
    font-weight: 900;
    height: 50px;
    color: $white;

    &:active {
      box-shadow: 0px 1px 0px darken($orange, 18%);
    }
  }
}
