@import '../../variables';

.button {
  position: relative;
  background: $lightgray;
  border-radius: 6px;
  border: 0;
  border-bottom: 3px solid rgba(0,0,0,0.3);
  padding: 8px 16px;
  outline: none;

  &:active {
    top: 2px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &.selected {
    background: $lime;
  }
}
