@import '../../variables';

.button {
  position: relative;
  background: $white;
  border-radius: $border-radius-small;
  border: 0;
  padding: 6px 8px;
  height: 30px;
  outline: none;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);

  &:active {
    top: 2px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.1);

    &.selected {
      box-shadow: 0px 1px 0px darken($yellow, 10%);
    }
  }

  &.selected {
    background: $yellow;
    box-shadow: 0px 3px 0px darken($yellow, 20%);
  }
}
