.button-toggle-group {
  .button {
    border-right: 1px solid rgba(0,0,0,0.05);
    border-radius: 0;
  }

  .button:first-of-type {
    border-radius: 6px 0 0 6px;
  }

  .button:last-of-type {
    border-radius: 0 6px 6px 0;
    border-right: 0;
  }
}
