@import '../../variables';

.button-toggle-group {
  .button {
    border-right: 1px solid rgba(0,0,0,0.05);
    border-radius: 0;
  }

  .button:first-of-type {
    border-radius: $border-radius-large 0 0 $border-radius-large;
  }

  .button:last-of-type {
    border-radius: 0 $border-radius-large $border-radius-large 0;
    border-right: 0;
  }
}
