@import '../../variables';
@import '../../mixins';

.x-y-pad-axis-label {
  position: relative;
  text-align: center;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  color: $mediumgray;

  .label-text {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 1rem;
    background: $offwhite;
  }

  .axis-label-line {
    @include centered;
    z-index: 1;
    height: 1px;
    background-color: $lightgray;
  }

  .arrow {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  .arrow.left {
    left: 0;
    border-right: 5px solid $lightgray;
  }

  .arrow.right {
    right: 0;
    border-left: 5px solid $lightgray;
  }

  .peg {
    width: 1px;
    height: 5px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: $lightgray;
  }

  .peg.left {
    left: 0;
  }

  .peg.right {
    right: 0;
  }
}
