@import '../../variables';

.control-panel {
  position: relative;
  width: 100%;
  max-width: 1010px;
  margin: 3rem auto;
  display: flex;

  .panel {
    &.keys {
      flex: 3;
      border-right: 1px solid $lightgray;
    }
    &.pad {
      flex: 5;
      padding-left: 16px;
    }
  }

  h5 {
    font-weight: 100;
    margin: 18px 0 6px;
  }

  .oscillator-waveform-toggle-group {
    .button {
      width: 23%;
      padding: 0;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .axis-control-select, .slider-container {
    width: 80%;
  }
}
