@import '../../variables';

.control-panel {
  position: relative;
  width: 100%;
  max-width: 1010px;
  margin: 6rem auto 3rem;
  display: flex;

  .panel {
    &.keys {
      flex: 1;
      border-right: 1px solid $lightgray;
    }
    &.pad {
      flex: 1;
      padding-left: 16px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 22px 0 12px;
  }

  h5 {
    font-size: 14px;
    font-weight: 100;
    margin: 18px 0 6px;
  }

  .oscillator-waveform-toggle-group {
    .button {
      width: 20%;
      padding: 0;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .axis-control-select, .axis-param-select, .slider-container {
    width: 80%;
  }
}
