.x-y-pad {
  position: relative;
}

.x-y-pad .pad {
  cursor: crosshair;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 264px;
  height: 264px;
  background: #FFF;
}

.x-y-pad .horizontal-axis {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
}
.x-y-pad .vertical-axis {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: -40px;
  right: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
}
