@import '../../variables';

.x-y-pad {
  position: relative;
  user-select: none;

  .pad {
    cursor: crosshair;
    position: relative;
    border-radius: $border-radius-large;
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    width: $x-y-pad-size;
    height: $x-y-pad-size;
    background: $white;
    overflow: hidden;
  }

  .horizontal-axis {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
  }

  .vertical-axis {
    position: absolute;
    width: 100%;
    bottom: -40px;
    left: -40px;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: left top;
  }

  .pointer-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    will-change: transform;
    transition: opacity 1000ms;

    &.is-pressed {
      opacity: 1;
      transition: opacity 400ms;
      cursor: none;
    }

    &:not(.is-pressed) circle {
      animation: none !important;
      transform: scale(2);
      opacity: 0.5;
    }

    circle {
      fill: $yellow;
      transform-origin: center center;
    }

    circle:nth-of-type(1) {
      animation: pulsePointer 2s infinite forwards;
    }
    circle:nth-of-type(2) {
      animation: pulsePointer 2s 1s infinite forwards;
    }
  }
}

@keyframes pulsePointer {
  0% { transform: scale(0.5); }
  100% { transform: scale(3); opacity: 0; }
}
