@import '../../variables';

@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-regular.woff);
}
@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-light.woff);
  font-weight: 100;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $offwhite;
}

body, button, input, select, textarea {
  font-family: Brown;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 900;
}

.app {
  .keys-and-pad {
    position: relative;
    margin: 3rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .keyboard-wrapper {
      margin-right: 5rem;
    }
  }
}
