@import '../../variables';

@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-regular.woff);
}
@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-bold.woff);
  font-weight: bold;
}
@font-face {
  font-family: Brown;
  src: url(../../fonts/lineto-brown-light.woff);
  font-weight: 100;
}

body, button, input, select, textarea {
  font-family: Brown;
  -webkit-font-smoothing: antialiased;
}

pre {
  font-family: 'Lucida Console', monospace;
  font-size: 14px;
  line-height: 1.25em;
  margin: 1rem 0;
}

em {
  font-style: italic;
}

a:not(.no-underline) {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  color: $orange;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    border-radius: 2px;
    background-color: $orange;
    transition: transform 400ms;
    transform: scaleX(0);
    transform-origin: right center;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: left center;
      transition: transform 200ms;
    }
  }

  &.medium-gray {
    color: $mediumgray;
    &:after {
      background-color: $mediumgray;
    }
  }
  &.dark-gray {
    color: $darkgray;
    &:after {
      background-color: $darkgray;
    }
  }
}

strong {
  font-weight: 900;
}

.app {
  // padding-bottom: 10rem;

  .keys-and-pad {
    position: relative;
    z-index: 1;
    margin: 3rem;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .keyboard-wrapper {
      margin-right: 5rem;
    }
  }

  .control-panel-feature {
    z-index: 3;

    .feature-highlight-gradient {
      bottom: 40%;
    }
  }
}
