@import '../../variables';
@import '../../mixins';

.modal-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $darkgray;
    opacity: 0;
    transition: opacity 1000ms 300ms;
  }

  .modal {
    position: relative;
    border-radius: 8px;
    width: 55%;
    max-width: 650px;
    transform: translateY(100px);
    transition: transform 750ms;

    .modal-contents {
      position: relative;
      opacity: 0;
      z-index: 2;
      transition: opacity 500ms;
      padding: 32px;
      font-weight: 100;
      max-height: 100%;
      overflow: auto;

      .modal-title {
        font-size: 28px;
        letter-spacing: -0.4px;
        font-weight: bold;
        margin-bottom: 32px;
      }

      p {
        margin-bottom: 16px;
        line-height: 1.25em;
      }
    }

    .modal-background {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white;
      box-shadow: 0px 5px 30px rgba(0,0,0,0.1);
      border-radius: 8px;
      border-bottom: 5px solid rgba(0,0,0,0.3);
      opacity: 0;
      transition: opacity 750ms;
    }

    .modal-close {
      position: absolute;
      top: 32px;
      right: 32px;
      background: transparent;
      border: none;
      outline: none;

      &:hover {
        svg {
          fill: $orange !important;
          transition: fill 250ms;
        }
      }

      svg {
        fill: $lightgray !important;
        transition: fill 500ms;
      }
    }
  }

  &.open {
    pointer-events: all;

    .modal-overlay {
      opacity: 0.6;
      transition: opacity 500ms;
    }

    .modal {
      transform: translateY(0);
      transition: transform 300ms;

      .modal-background {
        opacity: 1;
        transition: opacity 300ms;
      }

      .modal-contents {
        opacity: 1;
        transition: opacity 500ms 300ms;
      }
    }
  }
}
