@import '../../variables';
@import '../../mixins';

.modal-container {
  z-index: 9999;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .modal {
    @include centered;
  }

  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.3);
  }
}
