@import '../../variables';

.subheading {
  position: relative;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1.25px;
  color: $darkgray;
  cursor: default;
  user-select: none;
  text-shadow:
    -1px 0px 0px $offwhite,
    -3px 0px 0px $offwhite,
    1px 0px 0px $offwhite,
    3px 0px 0px $offwhite,
    1px 1px 0px $offwhite,
    3px 1px 0px $offwhite,
    -1px 1px 0px $offwhite,
    -3px 1px 0px $offwhite
  ;

  .subheading-inline {
    position: relative;

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      height: 3px;
      left: 2px;
      right: 0;
      bottom: 0;
      background: $peach;
    }
  }
}
