@import '../../variables';

.header {
  position: relative;
  padding: 1.2rem 1.4rem;

  h1 {
    cursor: default;
    letter-spacing: -2px;
    user-select: none;
  }

  .octocat {
    position: absolute;
    top: 8px;
    right: 0;

    img {
      position: relative;
      z-index: 2;
      width: 75px;
    }
  }
}
