@import '../../variables';

.header {
  position: relative;
  padding: 1.2rem 1.4rem;

  h1 {
    cursor: default;
    font-size: 28px;
    font-weight: bold;
    color: $black;
    letter-spacing: -2px;
    text-rendering: geometricPrecision;
    user-select: none;
  }

  .join-character {
    font-weight: 100;
    display: inline-block;
    margin: 0 2px;
  }
}
