@import '../../variables';

.keyboard {
  position: relative;
}

.keyboard .key, .keyboard .key-spacer {
  display: inline-block;
}

.keyboard-row {
  margin-top: 6px;
  overflow: hidden;
}

.keyboard-row:nth-child(odd) {
  margin-left: 30px;
}

.keyboard-row:nth-child(2) {
  margin-bottom: 20px;
}
