.keyboard {
  position: relative;
}

.keyboard .key, .keyboard .key-spacer {
  display: inline-block;
}

.keyboard-row {
  margin-top: 6px;
  overflow: hidden;
}

.keyboard-row:nth-child(odd) {
  margin-left: 23px;
}
