@import '../../variables';

.keyboard {
  position: relative;
  user-select: none;

  .key, .key-spacer {
    display: inline-block;
  }
}

.keyboard-row {
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;

  &:nth-child(odd) {
    margin-left: 30px;
  }

  &:nth-child(2) {
    margin-bottom: 20px;
  }
}
