@mixin top-triangle($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
}

@mixin left-triangle($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-left: $size solid transparent;
  border-right: $size solid $color;
  border-bottom: $size solid transparent;
}

@mixin right-triangle($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-left: $size solid $color;
  border-right: $size solid transparent;
  border-bottom: $size solid transparent;
}

@mixin bottom-triangle($size, $color) {
  width: 0;
  height: 0;
  border-top: $size solid $color;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid transparent;
}

@mixin centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin text-outline($color) {
  text-shadow:
    -1px 0px 0px $color,
    -3px 0px 0px $color,
    1px 0px 0px $color,
    3px 0px 0px $color,
    1px 1px 0px $color,
    3px 1px 0px $color,
    -1px 1px 0px $color,
    -3px 1px 0px $color
  ;

}
