$white: #FFF;
$offwhite: #f4f7f8;
$verylightgray: #d5e0e4;
$lightgray: #becbcd;
$mediumgray: #606667;
$darkgray: #2f3233;
$black: #111212;

$lime: #95e834;
$navy: #073f51;

$yellow: #F3CA4F;
$tan: #F3A84E;
$peach: #F5803E;
$orange: #F35638;

$keyboard-key-size: 60px;
$x-y-pad-size: 284px;

$border-radius-small: 4px;
$border-radius-large: 6px;
