@import '../../variables';

.key {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 3px;
  padding: 5px;
  border-radius: 4px;
  cursor: default;
  transition: transform 200ms;
}

.key.white {
  background: $white;
  border-bottom: 4px solid rgba(0,0,0,0.2);
  border-right: 2px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.key.black {
  background: $darkgray;
  color: $white;
  border-bottom: 4px solid rgba(0,0,0,0.6);
  border-right: 2px solid rgba(0,0,0,0.6);
  border-left: 1px solid rgba(0,0,0,0.3);
}

.key.placeholder {
  background: $darkgray;
  color: $white;
  opacity: 0.25;
  border-bottom: 4px solid rgba(0,0,0,0.6);
  border-right: 2px solid rgba(0,0,0,0.6);
  border-left: 1px solid rgba(0,0,0,0.3);
}

.key.active {
  transform: translateY(3px);
  transition: transform 200ms;
}
